/* Base */

.base_tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    display: flex;
    border-radius: 15px;
    border: 2px solid black;
    background-color: aqua;
    font-size: 40px;
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 0 black; /* from gpt */
    cursor: pointer; /* from gpt */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* from gpt */
    text-decoration: none;
    color: black;
}

.tile:active { /* from gpt */
    transform: translateY(4px);
    box-shadow: 0 2px 0 black;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    width: 80%;
}

#dropGEX { /* remove ltr, to be done by js */
    display: flex;
}

.dropdown-mod {
    display: flex;
    width: 95%;
    margin: 5px;
    font-size: 21px;
    align-items: center;
}

.details_nusmods {
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 0px 7px;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

.select_mod {
    font-size: inherit;
    margin-left: 7px
}

.select_status {
    display: none;
    background-color: green;
    border-radius: 11px;
    border: 2px solid white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#GEX1003_status { /* remove ltr, to be done by js */
    display: flex;
}