<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pillar_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="base_tiles">
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEX Mods</button>

            <div class="dropdown-menu" id="dropGEX">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1000</button>
                    <a href="https://nusmods.com/courses/GEX1000" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1003_status"></div>
                    <button class="select_mod">GEX1003</button>
                    <a href="https://nusmods.com/courses/GEX1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1004</button>
                    <a href="https://nusmods.com/courses/GEX1004" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1005</button>
                    <a href="https://nusmods.com/courses/GEX1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1009</button>
                    <a href="https://nusmods.com/courses/GEX1009" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1010</button>
                    <a href="https://nusmods.com/courses/GEX1010" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1011</button>
                    <a href="https://nusmods.com/courses/GEX1011" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1012</button>
                    <a href="https://nusmods.com/courses/GEX1012" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1014</button>
                    <a href="https://nusmods.com/courses/GEX1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1015</button>
                    <a href="https://nusmods.com/courses/GEX1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1016</button>
                    <a href="https://nusmods.com/courses/GEX1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1023</button>
                    <a href="https://nusmods.com/courses/GEX1023" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1027</button>
                    <a href="https://nusmods.com/courses/GEX1027" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1031</button>
                    <a href="https://nusmods.com/courses/GEX1031" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1032</button>
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEC Mods</button>

            <div class="dropdown-menu" id="dropGEC">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1001</button>
                    <a href="https://nusmods.com/courses/GEC1001" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1002</button>
                    <a href="https://nusmods.com/courses/GEC1002" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1003</button>
                    <a href="https://nusmods.com/courses/GEC1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1005</button>
                    <a href="https://nusmods.com/courses/GEC1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1007</button>
                    <a href="https://nusmods.com/courses/GEC1007" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1011</button>
                    <a href="https://nusmods.com/courses/GEC1011" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1013</button>
                    <a href="https://nusmods.com/courses/GEC1013" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1014</button>
                    <a href="https://nusmods.com/courses/GEC1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1015</button>
                    <a href="https://nusmods.com/courses/GEC1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1016</button>
                    <a href="https://nusmods.com/courses/GEC1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1017</button>
                    <a href="https://nusmods.com/courses/GEC1017" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1020</button>
                    <a href="https://nusmods.com/courses/GEC1020" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1023</button>
                    <a href="https://nusmods.com/courses/GEC1023" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1024</button>
                    <a href="https://nusmods.com/courses/GEC1024" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1028</button>
                    <a href="https://nusmods.com/courses/GEC1028" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1030</button>
                    <a href="https://nusmods.com/courses/GEC1030" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1032</button>
                    <a href="https://nusmods.com/courses/GEC1032" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1038</button>
                    <a href="https://nusmods.com/courses/GEC1038" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1040</button>
                    <a href="https://nusmods.com/courses/GEC1040" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1041</button>
                    <a href="https://nusmods.com/courses/GEC1041" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1044</button>
                    <a href="https://nusmods.com/courses/GEC1044" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1045</button>
                    <a href="https://nusmods.com/courses/GEC1045" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1046</button>
                    <a href="https://nusmods.com/courses/GEC1046" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1048</button>
                    <a href="https://nusmods.com/courses/GEC1048" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1049</button>
                    <a href="https://nusmods.com/courses/GEC1048" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1050</button>
                    <a href="https://nusmods.com/courses/GEC1050" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1051</button>
                    <a href="https://nusmods.com/courses/GEC1051" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1053</button>
                    <a href="https://nusmods.com/courses/GEC1053" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEC1054</button>
                    <a href="https://nusmods.com/courses/GEC1054" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GES Mods</button>

            <div class="dropdown-menu" id="dropGES">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GES1037</button>
                    <a href="https://nusmods.com/courses/GES1037" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1000</button>
                    <a href="https://nusmods.com/courses/GESS1000" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1001</button>
                    <a href="https://nusmods.com/courses/GESS1001" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1002</button>
                    <a href="https://nusmods.com/courses/GESS1002" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1003</button>
                    <a href="https://nusmods.com/courses/GESS1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1004</button>
                    <a href="https://nusmods.com/courses/GESS1004" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1005</button>
                    <a href="https://nusmods.com/courses/GESS1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1006</button>
                    <a href="https://nusmods.com/courses/GESS1006" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1009</button>
                    <a href="https://nusmods.com/courses/GESS1009" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1012</button>
                    <a href="https://nusmods.com/courses/GESS1012" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1013</button>
                    <a href="https://nusmods.com/courses/GESS1013" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1014</button>
                    <a href="https://nusmods.com/courses/GESS1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1015</button>
                    <a href="https://nusmods.com/courses/GESS1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1016</button>
                    <a href="https://nusmods.com/courses/GESS1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1018</button>
                    <a href="https://nusmods.com/courses/GESS1018" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1019</button>
                    <a href="https://nusmods.com/courses/GESS1019" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1020</button>
                    <a href="https://nusmods.com/courses/GESS1020" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1021</button>
                    <a href="https://nusmods.com/courses/GESS1021" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1024</button>
                    <a href="https://nusmods.com/courses/GESS1024" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1025</button>
                    <a href="https://nusmods.com/courses/GESS1025" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1027</button>
                    <a href="https://nusmods.com/courses/GESS1027" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1029</button>
                    <a href="https://nusmods.com/courses/GESS1029" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GESS1036</button>
                    <a href="https://nusmods.com/courses/GESS1036" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEN Mods</button>

            <div class="dropdown-menu" id="dropGEN">
                <button class="dropdown-mod">GEN2000</button>
                <button class="dropdown-mod">GEN2001</button>
                <button class="dropdown-mod">GEN2002X</button>
                <button class="dropdown-mod">GEN2004</button>
                <button class="dropdown-mod">GEN2006</button>
                <button class="dropdown-mod">GEN2007</button>
                <button class="dropdown-mod">GEN2008</button>
                <button class="dropdown-mod">GEN2009</button>
                <button class="dropdown-mod">GEN2050X</button>
                <button class="dropdown-mod">GEN2060X</button>
                <button class="dropdown-mod">GEN2061X</button>
                <button class="dropdown-mod">GEN2062X</button>
                <button class="dropdown-mod">GEN2070X</button>
            </div>
        </div>
    </div>
</body>
</html>