<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pillar_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="base_tiles">
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEX Mods</button>

            <div class="dropdown-menu" id="dropGEX">
                <button class="dropdown-mod">Option 1</button>
                <button class="dropdown-mod">Option 2</button>
                <button class="dropdown-mod">Option 3</button>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEC Mods</button>

            <div class="dropdown-menu" id="dropGEC">
                <button class="dropdown-mod">Option 1</button>
                <button class="dropdown-mod">Option 2</button>
                <button class="dropdown-mod">Option 3</button>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GES Mods</button>

            <div class="dropdown-menu" id="dropGES">
                <button class="dropdown-mod">Option 1</button>
                <button class="dropdown-mod">Option 2</button>
                <button class="dropdown-mod">Option 3</button>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEN Mods</button>

            <div class="dropdown-menu" id="dropGEN">
                <button class="dropdown-mod">Option 1</button>
                <button class="dropdown-mod">Option 2</button>
                <button class="dropdown-mod">Option 3</button>
            </div>
        </div>
    </div>
</body>
</html>